{{ partial "header.html" . }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.contact.enable }}
{{ "<!-- Contact Section Start -->" | safeHTML }}
<section id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <div class="block">
                    {{ with .Site.Data.contact.contactFormTitle }}<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
                    {{ with .Site.Data.contact.contactFormSubtitle }}<p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
                    <div class="contact-form">
						<form action="https://formspree.io/cocoabeachprojgrad@gmail.com" method="POST">
						  <input type="hidden" name="_subject" value="New Contact Form submission!" />
						  <!--<input type="hidden" name="_next" value="https://cbhspg.org/donate"/>-->
						  <!--<input type="hidden" name="_cc" value="another@email.com" />-->
						  <input class="form-control" type="text" name="name" placeholder="Your first and last name"><br/>
						  <input class="form-control" type="email" name="_replyto" placeholder="Your email address"><br/>
						  <input class="form-control" type="text" name="subject" placeholder="Subject"><br/>
						  <textarea class="form-control" rows="5" name="message" placeholder="Message" required=""></textarea><br/><br/>
						  <input class="form-control" type="submit" value="Send">
						</form>
						<br/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map-area">
                    {{ with .Site.Data.contact.mapTitle }}<h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
                    {{ with .Site.Data.contact.mapSubtitle }}<p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
                    <div class="map">
                        <iframe src="https://maps.google.com/maps?q=Cocoa%20Beach%20Elks%20Lodge%202387&t=k&z=19&ie=UTF8&iwloc=&output=embed"
                            width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row address-details">
            <div class="col-lg-3 col-sm-6">
                <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                    <i class="ion-ios-location-outline"></i>
                    {{ with .Site.Data.contact.officeAddress1 }}<h5>{{ . }}</h5>{{ end }}
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                    <i class="ion-ios-location-outline"></i>
                    {{ with .Site.Data.contact.officeAddress2 }}<h5>{{ . }}</h5>{{ end }}
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                    <i class="ion-ios-email-outline"></i>
                    <p>{{ with .Site.Data.contact.mail1 }}{{ . }}{{ end }}
                        <br>{{ with .Site.Data.contact.mail2 }}{{ . }}{{ end }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                    <i class="ion-ios-telephone-outline"></i>
                    <p>{{ with .Site.Data.contact.phone1 }}{{ . }}{{ end }}
                        <br>{{ with .Site.Data.contact.phone2 }}{{ . }}{{ end }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Contact Section End -->" | safeHTML }}
{{ end }}

{{ partial "cta.html" . }}

{{ partial "footer.html" . }}